:root {
--cel-width: 60vw;
--pc-width: 60vh;
--container-pc: 70vh;
--container-cel: 85vw;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    min-height: var(--conrtainer-cel);
    max-height: var(--conrtainer-cel);
    min-width: var(--conrtainer-cel);
    max-width: var(--conrtainer-cel);
    background-color: brown;
}
@media (min-width:500px) {
    .container {
        min-width: var(--container-pc);
        max-width: var(--container-pc);
        min-height: var(--container-pc);
        max-height: var(--container-pc);
    }
    
}

.label {
    font-size: 2rem;
    font-weight: 700;
    color: #d2bb23;
    font-family: "Brush Script MT";
}

.view {
    display: flex;
    flex-wrap: wrap;
    min-height: var(--cel-width);
    max-height: var(--cel-width);
    min-width: var(--cel-width);
    max-width: var(--cel-width);
    background-color: grey;
}

@media (min-width:500px) {
    .view{
        min-height: var(--pc-width);
        max-height: var(--pc-width);
        min-width: var(--pc-width);
        max-width: var(--pc-width);
    }
    
}

.controls {
    display: flex;
    justify-content: space-between;
    min-width: 70vw;
    max-width: 70vw;
}

@media (min-width:600px) {
    .controls{
        min-width: 50vh;
        max-width: 50vh;
    }   
}

.functionDiv {
    background-color: whitesmoke;
    opacity: 1;
    margin: 0;
    border-width: 0;
    padding: 0;
    width: calc(var(--cel-width) / var(--slider-value));
    height: calc(var(--cel-width) / var(--slider-value));
}
@media (min-width:500px) {
    .functionDiv{
        width: calc( var(--pc-width) / var(--slider-value) );
        height: calc( var(--pc-width) / var(--slider-value) );

    }

}

.slidecontainer {
    position: relative;
}

.bubble {
    position: absolute;
    top: -30px; /* Adjust to place above the slider */
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    font-size: 0.9rem;
    visibility: hidden;
}

.slider:hover + .bubble {
    visibility: visible;
}

/* -

    to do, move widths to html css as to get width to be inline, that 
    way slider division can be worked on by JS directly 

- */