body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: content-box;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    min-height: 80vh;
    max-height: 90vh;
    min-width: 85vw;
    max-width: 95vw;
    background-color: brown;
}
@media (min-width:500px) {
    .container {
        min-width: 55vw;
        max-width: 70vw;
    }
    
}

.label {
    font-size: 2rem;
    font-weight: 700;
    color: #d2bb23;
    font-family: "Brush Script MT";
}

.view {
    min-height: 60vh;
    max-height: 70vh;
    min-width: 70vw;
    max-width: 80vw;
    border-width: 5px;
    border-color: black;
    background-color: grey;
}

@media (min-width:500px) {
    .view{
        min-width: 45vw;
        max-width: 65vw;
    }
    
}

.controls {
    display: flex;
    justify-content: space-between;
    min-width: 75vw;
    max-width: 85vw;
}

@media (min-width:600px) {
    .controls{
        min-width: 45vw;
        max-width: 55vw;
    }
    
}